# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
logs

build/
out/
target/

*.log
*.iws
*.ipr

plat-im/target
plat-im/.mvn
plat-im/plat-im.iml
